<div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
    <div class="ps-cart-item__thumbnail"><a href="/product-detail/<%= product_item.id %>"></a><img src="images/cart-preview/"+product_item.id+".jpg" alt=""></div>
    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="/product-detail/<%= product.id %>"><%= product_item.title %></a>
      <p><span>Quantity:<i>12</i></span><span>Total:<i><%= product_item.price %></i></span></p>
    </div>
  </div>
